table{
    width: 100%;
    border-bottom: 2px solid black;
    /*this is the size of the small text's baseline over part  (÷x*3/4)*/
    line-height: 19.5px; 
}
table td{
    vertical-align: baseline;
}
.left{
    font-family: Arial;
    font-size: 40px;
    text-align: left;

}
.right{
    font-size: 25px;
    text-align: right;
}
.style-1 input[type="text"] {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.style-1 input[type="text"]:focus,
.style-1 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
label {
  /*font : 15px "typewriter", sans-serif;*/
  color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
}
button {
  left         : 440px;
  top          : 360px;
  width	       : 100px;
  padding      : 5px;

  font         : bold 6em sans-serif;
  font-size    : 5px;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;

  cursor       : pointer;

}
h1 {
color: #111;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 72px;
}
pre {
  left : 415px;
  top  : 185px;

  font : 2em "typewriter", sans-serif;
}
br {
  left : 415px;
  top  : 185px;

  font : 5em "typewriter", sans-serif;
}   
