h1 { color: #ff4411; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px; }
h1 { color: #c9d0d4; font-family: 'Helvetica Neue', sans-serif; font-size: 46px; font-weight: 100; line-height: 50px; letter-spacing: 1px; padding: 40px 0 40px; border-bottom: double #555; border-top: double #555; background-color: grey;}

label { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }
/*body { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; background-color: grey; }*/
select { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }
input { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }
option { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }
p { font-family: 'Inder', sans-serif; line-height: 28px; margin-bottom: 15px; color: #666; }


a { color: #ff4411; transition: .5s; -moz-transition: .5s; -webkit-transition: .5s; -o-transition: .5s; }


a:hover { color: #a03c21 }


.date { float: left }


.author { float: right }


.entry-content { border-bottom: 3px solid #666; padding: 0 0 15px 0; margin-bottom: 8px; }


.meta-info { padding: 5px; overflow: hidden; }


.meta-info p { font-family: 'Fenix', serif; font-style: italic; color: #666; font-size: 16px; }

